.btn-spacing {
  margin-left: 1em
}

.pagination-spacing {
  margin:20px 0
}

.select_domain {
  background-color: #f2f2f2;
  color: #000000;
}

.select_domain_hover:hover{
  text-decoration-color: black;
}
