.btn-spacing {
  margin-left: 1em
}

.float-right-arrow {
  margin: 20px 0;
  position: absolute; 
  bottom: 0px;
}

.vertical-icon {
  display: block;
  padding-right: 20px !important;
}

.vertical-span {
  display: none;
}

.vertical-block {
  text-align: right;
}

.sidebar-nav-item {
  font-size: 1em;

}

.layout-fullwidth {
  left: -200px;
}

.content-with-sidebar {
  position: relative;
  padding-left: 260px;
  padding-top: 100px;
}

.custom-sidebar {
  margin-top: 0px !important;
  padding-top: 80px !important;
}

.btn-toggle-fullwidth {
  color: #00AAFF; 
  background-color: #2B333E;
  font-size: 28px;
}

.btn-outline {
  color: #00aaff;
  border-color: #00aaff;
}

.navbar-brand{
  margin-right: 0;
}
