.btn-spacing {
  margin-left: 1em
}
.float-right-arrow {
  float: right;
  padding: 6 0;
}
.vertical-icon {
  display: block;
  margin-right: -5px !important;
}
.vertical-span {
  display: none
}
.vertical-block {
  text-align: right
}
