<div class="card mx-5 justify-content-center border-0" style="width: 18rem;">
  <div class="card-body">
    <%=image_pack_tag doc_img, class: "rounded-circle carousel-reviews" %>
    <h5 class="card-title text-center pt-4 doctor-title font-weight-bold"><%= doc_name %></h5>
    <p class="card-text text-center doctor-description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
