<div class="col-2 border border-white rounded m-5 text-center text-white py-3">
  <h1 class="font-weight-bold stat-num"><%= stat_number %></h1>
  <h2 class="mb-0 pb-1 stat-label"><%= stat_label %></h2>
</div>