<div class="col-4">
  <div class="row pl-5">
    <div class="col-2"><i class="fa fa-<%= why_icon %> fa-3x med-icons"></i></div>
    <div class="col-10">
      <h2 class="why-us-content pr-2"><%= why_heading %></h2>
      <p class="why-us-decriptions pr-4"><%= t('guest.lorem_ipsum') %></p>
    </div>
  </div>
</div>
