<div class="row why-row justify-content-center">
  <%= render(partial: "why_hms_content", locals: { why_icon: t('guest.medkit'), why_heading: t('guest.buy_medicines') }) %>
  <%= render(partial: "why_hms_content", locals: { why_icon: t('guest.stethoscope'), why_heading: t('guest.consult_doctors') }) %>
  <%= render(partial: "why_hms_content", locals: { why_icon: t('guest.calendar'), why_heading: t('guest.book_appointments') }) %>
</div>
