<% provide(:title, "About") %>
<h1 class="pt-5 mb-4 text-center">About</h1>
<div class="text-black-50 px-5">
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare congue odio. Donec aliquet bibendum odio, sed consequat quam rhoncus vitae. Maecenas cursus a lectus vel ultricies. Vestibulum quis vestibulum velit. Maecenas ut dapibus mauris, vitae luctus mauris. Nunc at finibus sapien. Mauris fringilla enim eget tellus viverra, id pretium urna gravida. Nunc interdum sodales facilisis.  </p>

  <p> Ut eu metus vitae elit euismod rutrum. Nunc imperdiet non lectus eget molestie. Cras aliquam mollis justo, eget tempus ipsum bibendum sit amet. Curabitur facilisis sodales tristique. Ut placerat eget enim vitae suscipit. Cras pellentesque eget massa non volutpat. Ut accumsan eros eget ex hendrerit convallis. Pellentesque at dui id felis convallis accumsan. Cras vehicula hendrerit sodales. Nullam cursus ex nec diam pellentesque efficitur. Aliquam elementum, est eu varius tincidunt, ex neque elementum nisi, sit amet rutrum sapien dui eu mi. </p>

  <p> Ut eu metus vitae elit euismod rutrum. Nunc imperdiet non lectus eget molestie. Cras aliquam mollis justo, eget tempus ipsum bibendum sit amet. Curabitur facilisis sodales tristique. Ut placerat eget enim vitae suscipit. Cras pellentesque eget massa non volutpat. Ut accumsan eros eget ex hendrerit convallis. Pellentesque at dui id felis convallis accumsan. Cras vehicula hendrerit sodales. Nullam cursus ex nec diam pellentesque efficitur. Aliquam elementum, est eu varius tincidunt, ex neque elementum nisi, sit amet rutrum sapien dui eu mi. </p>

  <p>Our mission statement is </p>

  <blockquote class="blockquote">
    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare congue odio. Donec aliquet bibendum odio, sed consequat quam rhoncus vitae. Maecenas cursus a lectus vel ultricies. Vestibulum quis vestibulum velit.</p>
  </blockquote>
</div>
<%= render 'layouts/footer' %>
   