<div class="pb-2 pl-3 filter-div row">
  <div class='pt-1'>
    <%= t('speciality') %>: 
  </div>
  <%= select_tag 'filter', options_for_select(@doctors.pluck(:speciality).uniq), {include_blank: '-----', class: 'speciality-filter form-control ml-2', id: 'speciality_filter'} %>
</div>
