<%= form_tag('/doctors/speciality_filter', remote: true) do %>
  <div class="row">
    <%= select_tag 'Filter_Doctor', options_for_select(@doctors.map { |doctor| doctor.speciality}.uniq), {include_blank: 'Select Speciality', class: 'speciality-filter form-control col-2 ml-4'} %>
    <%= submit_tag 'Filter', class: "btn btn-primary col-1 ml-2" %>
  </div>
<% end %>
