<div class="col-xl-3 col-md-6">
  <div class="card card-stats dashboard-stat">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title text-uppercase text-muted mb-0"><%= text_label %></h5>
          <span class="h2 font-weight-bold mb-0"><%= value %></span>
        </div>
        <div class="col-auto">
          <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
            <i class="ni ni-active-40"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>