<li class="nav-item">
  <%= link_to Date::DAYNAMES[num], doctor_availabilities_path(@doctor, week_day: Date::DAYNAMES[num]), { class: "nav-link availability-day-tab #{addclass}", role: "tab" } %>
</li>
