<footer class="py-4 nav-static-pages text-white-50 fixed-bottom">
  <div class="container text-center">
    <small><%= link_to 'Home', root_path, class: "text-white-50" %></small> |
    <small><%= link_to 'About', about_path, class: "text-white-50" %></small> |
    <small><%= link_to 'Contact', contact_path, class: "text-white-50" %></small>
  </div>
  <div class="container text-center">
    <small>Copyright &copy; Hospital Management System</small>
  </div>
</footer>
