<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <!-- Medicines -->
        <% if can?(:index, Medicine) %>
        <li><a href="#" class="sidebar-row"><i class="lnr lnr-leaf"></i><span class="sidebar-text">Medicines</span></a></li>
        <% end %>
        <!-- Purchase Orders -->
        <% if can?(:index, PurchaseOrder) %>
        <li><a href="#" class="sidebar-row"><i class="lnr lnr-cart"></i> <span class="sidebar-text">Purchase Orders</span></a></li>
        <% end %>
        <!-- Sale Orders -->
        <% if can?(:index, Bill) %>
        <li><a href="#" class="sidebar-row"><i class="lnr lnr-chart-bars"></i> <span class="sidebar-text">Sale Orders</span></a></li>
        <% end %>
        <!-- Doctor -->
        <% if can?(:index, Doctor) %>
          <li><a class="sidebar-row active" href=<%= doctors_path %> ><i class="lnr lnr-heart-pulse"></i> <span class="sidebar-text">Doctors</span></a></li>
        <% end %>
        <!-- Patient -->
        <% if can?(:index, Patient) %>
          <li><a class="sidebar-row" href=<%= patients_path %> ><i class="lnr lnr-wheelchair"></i><span class="sidebar-text">Patients</span></a></li>
        <% end %>
        <!-- Appointments -->
        <% if can?(:index, Appointment) %>
          <li><a href="#" class="sidebar-row"><i class="lnr lnr-calendar-full"></i> <span class="sidebar-text">Appointments</span></a></li>
        <% end %>
        <!-- Prescriptions -->
        <% if can?(:index, PrescribedMedicine) %>
          <li><a href="#" class="sidebar-row"><i class="lnr lnr-list"></i> <span class="sidebar-text">Prescriptions</span></a></li>
        <% end %>
        <!-- Reports -->
        <% if can?(:index, Test) %>
          <li><a href="#" class="sidebar-row"><i class="lnr lnr-file-empty"></i> <span class="sidebar-text">Reports</span></a></li>
        <% end %>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="float-right-arrow navbar-btn ">
        <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
      </div>
    </div>
  </div>
</div>
<!-- END LEFT SIDEBAR -->